<html>
    <head>
        <title>gesture password</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--style-->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/index.css">
        <!--lib-->
        <script src='lib/fastclick.js'></script>
    </head>
    <body>
        <div class="wrapper-layer">
            <p></p>
            <canvas id="canvas"></canvas>
        </div>
    </body>
    <script src="js/commons.js" charset="utf-8"></script>
    <script src="js/index.js"></script>
</html>
